<!-- Home -->
<div id="home" class="content-section active">
<div class="text">
<h1>happy birthday!</h1>
<p class="name">
wifeyyy
</p>
<p class="note">
i really wanted to make an animated cake for you...<br>
but every time i try, it bugs and crashes.<br>
maybe... i'll just pour the effort into loving you instead :)
</p>
<h2 class="cake-icon">🎂</h2>
<h6 class="cake-info">double klik the cake</h6>
</div>
</div>

<link rel="stylesheet" href="components/home/home.css">
<script src="components/home/home.js"></script>
