<!-- Promise -->
<div id="promise" class="content-section">
    <div id="promise-intro" class="promise-intro">
        <h2>💍 Our Promise</h2>
        <div class="promise-text-box">
            <p>
                We made a little promise to meet again in a decade… <br>
                Same heart. Same soul. Different time. <br><br>
                So we count the days, until then.
            </p>
        </div>
    </div>
    <!-- countdown Box -->
    <div id="countdown" class="countdown-box"></div>


<!-- End of #promise -->
 </div>

<link rel="stylesheet" href="components/promise/promise.css">
<script src="components/promise/promise.js"></script>
