<!-- About Her -->
<div id="about" class="content-section">
<!-- Profile Card -->
<div class="profile-card">
<div class="profile-info">
<div class="profile-text">
<h1 class="profile-name">Anisa</h1>
<p class="profile-description">
someone wifey 🤭😱
</p>
</div>
<div class="profile-img">
<img src=" https://media0.giphy.com/media/v1.Y2lkPTZjMDliOTUyaXl0c2R0OXpjbzdtZ2QwaXFoZGp5NmFib2l5YjJkcXlxZzhya2h0aCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AAsj7jdrHjtp6/giphy.gif " alt="Anisa" />
</div>
</div>
</div>

<!-- Description -->
<div class="secBox">
<h3>💙 Little things about her:</h3>
<ul>
<li><strong>Name:</strong> Anisa</li>
<li><strong>Birthday:</strong> January 24, 2011</li>
<li><strong>Loves:</strong> Me opkors🤭😛🍠, Cumi sambal merah🤤, Ayam geprek, Nasi goreng (no kecap), ice cream</li>
<li><strong>Hate:</strong> Matcha, Durian, Keju, Gibran</li>
<li><strong>Personality:</strong> Calm, thoughtful, strong, loyal, wibu 🤭, weird like me 🤪</li>
<li><strong>Hobi kecil:</strong> Scroll TikTok/Ig/X, belajar (nerdyyyyy😛), Tidur 💤</li>
</ul>
</div>

<!-- 3. Fun Facts mini-card -->
<div class="funfacts-card">
<h4>Fun Facts</h4>
<ul>
<li>wibu 🤫</li>
<li>weird like me🤪</li>
<li>Can sleep 14 hrs straight</li>
<li>Always wins at "who-can-stay-quiet-longer</li>
<li>Melet akwwwww parah emang😛🙄</li>
</ul>
</div>

</div>

<link rel="stylesheet" href="components/about/about.css">
<script src="components/about/about.js"></script>
